.game-over-dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 20vw;
    color: greenyellow;
}

.game-over-dialog-header {
    text-align: center;
    padding: 15px;
    background-color: black;
    font-weight: bold;
    font-size: 2em;
}

.game-over-dialog-content {
    margin: auto;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 1s;
    background-color: white;
}

.game-over-button {
    margin: 5px;
    color: black;
    font-weight: bold;
    background-color: yellowgreen;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}