.game-over {
    width: 800px;
    height: 64px;
    min-width: 800px;
    min-height: 64px;
    margin: auto;
    border: 5px solid black;
    background-color: black;
}

.game-score-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-header-name {
    font-size: 3rem;
    color: white;
}